html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {overflow-x: hidden;}
body{
	font-size: 14px;
	color: #444;
	font-family: 'Tahoma', sans-serif;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	right: 0;
	-webkit-transition:	right .4s ease-in-out 0s;
	-moz-transition:	right .4s ease-in-out 0s;
	-ms-transition:		right .4s ease-in-out 0s;
	-o-transition:		right .4s ease-in-out 0s;
	transition:			right .4s ease-in-out 0s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
        clear: both;
        color: #373737;
        font-family: 'Noto Sans', sans-serif;
}
h1 {
        font-size: 24px;
}
h2 {
        font-size: 20px;
}
h3 {
        font-size: 18px;
}
h4 {
        font-size: 16px;
}
h5 {
        font-size: 14px;
}
h6 {
        font-size: 12px;
}

table {
	border-collapse: collapse;
	min-width:500px;
}
td, th {
	font-size: 13px;
	border: 1px solid gray;
	padding: 4px;
}

.navipane {
	font-size: 13px;
	margin:10px 0 0;
}

.navipane a {
	display: inline-block;
	margin-left:5px;
	padding:4px;
}
.navipane span {
	display: inline-block;
	font-weight:bold;
}
.navipane span.active {
	background: #e0e0e0;
	margin-left:5px;
	padding:4px 6px;;
}

.navipane span.search-form {
	margin-left:15px;
	padding:2px 6px;;
}

.navipane span.search-form input[name="search"] {
	width:150px;
}

.pages {
	margin:5px 0;
	padding:0 5px;
}
.pages a, .pages span {
	display: inline-block;
	padding: 3px 6px;
}
.pages .current { background:#e0e0e0; }
.pages a:hover { background:#f0f0f0; }
.pages .prev, .pages .next {
	font-size: 12px;
	padding: 4px 6px;
}

.autoreload {
	font-size: 13px;
	margin:10px 0 0;
	padding: 5px 10px;
}

.autoreload span {
	display: inline-block;
	margin-left:10px;
	padding:2px 6px;
	font-weight:bold;
	color:green;
}
