{{ define "search" }}
{{ template "header" .HTMLayout }}

<h1>{{.Header}}</h1>
{{ template "navipane" . }}

<h2>Найдены источники ({{ .SourcesFound }})</h2>
<table border=1 cellpadding="1" cellspacing="2">
    <tr>
        <th>ID</th>
        <th>Host</th>
        <th>Job</th>
        <th>Status</th>
        <th>Keep Remote</th>
        <th>Exec t/o</th>
        <th>Sync t/o</th>
    </tr>
    {{range .Sources}}
    <tr>
        <td><a href="/sources/{{ .ID }}">{{ .ID }}</a></td>
        <td><a href="/sources/{{ .ID }}">{{ .Fqdn }}</a></td>
        <td>{{ .Alias }}</td>
        {{ if .Status }}
        <td>Активен</td>
        {{ else }}
        <td>Блокирован</td>
        {{ end }}
        <td>{{ .KeepRemote }}</td>
        <td>{{ .ExecTimeout }}</td>
        <td>{{ .SyncTimeout }}</td>
    </tr>
    {{end}}
</table>


<h2>Найдены задачи ({{ .TasksFound }})</h2>
<table border=1 cellpadding="1" cellspacing="2">
	<tr>
		<th>ID</th>
		<th>Host</th>
		<th>Job</th>
		<th>Start</th>
		<th>Finish</th>
		<th>Status</th>
		<th>Message</th>
	</tr>
	<tbody id="task-list">
	{{range .Tasks}}
	<tr>
		<td><a href="/output_task/{{ .ID }}">{{ .ID }}</a></td>
		<td nowrap><a href="/sources/{{ .SourceID }}">{{ .Fqdn }}</a></td>
		<td>{{ .Alias }}</td>
		<td>{{ .StartStr }}</td>
		<td>{{ .FinishStr }}</td>
		<td><a href="/output_task/{{ .ID }}">{{ .StatusName }}</a></td>
		<td>{{ .Message }}</td>
	</tr>
	{{end}}
	</tbody>
</table>

	{{ if .UsePaginator }}
		{{ template "paginator" . }}
	{{ end }}

{{ template "footer" .HTMLayout }}
{{end}}