{{ define "sources" }}
{{ template "header" .HTMLayout }}

<h1>{{.Header}}</h1>
{{ template "navipane" . }}

<table border=1 cellpadding="1" cellspacing="2">
	<tr>
		<th>ID</th>
		<th>Host</th>
		<th>Job</th>
		<th>Status</th>
		<th>Keep Remote</th>
		<th>Exec t/o</th>
		<th>Sync t/o</th>
	</tr>
	{{range .Sources}}
	<tr>
		<td><a href="/sources/{{ .ID }}">{{ .ID }}</a></td>
		<td><a href="/sources/{{ .ID }}">{{ .Fqdn }}</a></td>
		<td>{{ .Alias }}</td>
		{{ if .Status }}
		<td>Активен</td>
		{{ else }}
		<td>Блокирован</td>
		{{ end }}
		<td>{{ .KeepRemote }}</td>
		<td>{{ .ExecTimeout }}</td>
		<td>{{ .SyncTimeout }}</td>
	</tr>
	{{end}}
</table>

{{ template "footer" .HTMLayout }}
{{end}}