{{ define "source" }}
{{ template "header" .HTMLayout }}

<script>
var globalType = '';
var globalSourceID = {{ .Source.ID }};
var globalPageNum = {{ .Page }};
</script>

<h1>{{.Header}}</h1>
{{ template "navipane" . }}

<table border=1 cellpadding="1" cellspacing="2">
	{{ with .Source }}
	<tr>
		<th>ID</th>
		<td>{{ .ID }}</td>
	</tr><tr>
		<th>Host</th>
		<td>{{ .Fqdn }}</td>
	</tr><tr>
		<th>Job</th>
		<td>{{ .Alias }}</td>
	</tr><tr>
		<th>Status</th>
		{{ if .Status }}
		<td>Активен</td>
		{{ else }}
		<td>Блокирован</td>
		{{ end }}
	</tr><tr>
		<th>Keep Remote</th>
		<td>{{ .KeepRemote }}</td>
	</tr><tr>
		<th>Exec t/o</th>
		<td>{{ .ExecTimeout }}</td>
	</tr><tr>
		<th>Sync t/o</th>
		<td>{{ .SyncTimeout }}</td>
	</tr><tr>
		<th>Cron</th>
		<td>{{ .Cron }}</td>
	</tr><tr>
		<th>Env</th>
		<td>{{ .Env }}</td>
	</tr><tr>
		<th>Tags</th>
		<td>{{ .Tags }}</td>
	</tr><tr>
		<th>Local script</th>
		<td><a href="/sources/{{ .ID }}/script" target="_blank">Generate!!!</a></td>
	</tr>
	{{ end }}
</table>

<h2>Задачи</h2>
{{ template "autoreload" . }}
<table border=1 cellpadding="1" cellspacing="2">
	<tr>
		<th>ID</th>
		<th>Host</th>
		<th>Job</th>
		<th>Start</th>
		<th>Finish</th>
		<th>Status</th>
		<th>Message</th>
	</tr>
	<tbody id="task-list">
	{{range .Tasks}}
	<tr>
		<td><a href="/output_task/{{ .ID }}">{{ .ID }}</a></td>
		<td nowrap><a href="/sources/{{ .SourceID }}">{{ .Fqdn }}</a></td>
		<td>{{ .Alias }}</td>
		<td>{{ .StartStr }}</td>
		<td>{{ .FinishStr }}</td>
		<td><a href="/output_task/{{ .ID }}">{{ .StatusName }}</a></td>
		<td>{{ .Message }}</td>
	</tr>
	{{end}}
	</tbody>
</table>

	{{ if .UsePaginator }}
		{{ template "paginator" . }}
	{{ end }}

<script type="text/javascript" src="/static/js/tasks.js"></script>
{{ template "footer" .HTMLayout }}
{{end}}