{{ define "task" }}
{{ template "header" .HTMLayout }}

<h1>{{.Header}}</h1>
{{ template "navipane" . }}

<h2>Задача #{{ .Task.ID }}</h2>
<table border=1 cellpadding="1" cellspacing="2">
	{{ with .Task }}
	<tr>
		<th>ID</th>
		<td><a href="/output_task/{{ .ID }}">{{ .ID }}</a></td>
	</tr><tr>
		<th>Host</th>
		<td><a href="/sources/{{ .SourceID }}">{{ .Fqdn }}</a></td>
	</tr><tr>
		<th>Job</th>
		<td>{{ .Alias }}</td>
	</tr><tr>
		<th>Start</th>
		<td>{{ .StartStr }}</td>
	</tr><tr>
		<th>Finish</th>
		<td>{{ .FinishStr }}</td>
	</tr><tr>
		<th>On client</th>
		<td>{{ .ClientDir }}</td>
	</tr><tr>
		<th>On server</th>
		<td>{{ .ServerDir }}</td>
	</tr><tr>
		<th>Status</th>
		<td><a href="{{ .BaseURL }}">{{ .StatusName }}</a></td>
	</tr><tr>
		{{ if eq .Status 0 }}
		<th>Message</th>
		<td>{{ .Message }}</td>
		{{ end }}
	</tr>
	{{ end }}
</table>

{{ template "footer" .HTMLayout }}
{{end}}