{{ define "tasks" }}
{{ template "header" .HTMLayout }}

<script>
var globalType = '{{ .HTMLayout.Base }}';
var globalSourceID = 0;
var globalPageNum = {{ .Page }};
</script>

<h1>{{.Header}}</h1>
{{ template "autoreload" . }}
{{ template "navipane" . }}
<table border=1 cellpadding="1" cellspacing="2">
	<tr>
		<th>ID</th>
		<th>Host</th>
		<th>Job</th>
		<th>Start</th>
		<th>Finish</th>
		<th>Status</th>
	{{ if eq .Base "failed" }}
		<th>Message</th>
	{{ end }}
	</tr>
	<tbody id="task-list">
	{{range .Tasks}}
		<tr>
			<td><a href="/output_task/{{ .ID }}">{{ .ID }}</a></td>
			<td nowrap><a href="/sources/{{ .SourceID }}">{{ .Fqdn }}</a></td>
			<td>{{ .Alias }}</td>
			<td>{{ .StartStr }}</td>
			<td>{{ .FinishStr }}</td>
			<td><a href="/output_task/{{ .ID }}">{{ .StatusName }}</a></td>
		{{ if eq .Status 0 }}
			<td>{{ .Message }}</td>
		{{ end }}
		</tr>
	{{end}}
	</tbody>
</table>

	{{ if .UsePaginator }}
		{{ template "paginator" . }}
	{{ end }}

<script type="text/javascript" src="/static/js/tasks.js"></script>
{{ template "footer" .HTMLayout }}
{{end}}